body {
  background-color: rgb(255, 255, 255);
  margin:0;
  font-family: sans-serif;
}


.topbar {
  display:flex;
  background-color: #3f51b5;
  color:white;
  padding-left:1.75rem;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.topbar-name{
  font-size: 25px;
  margin: 10px 0;
}
.topbar button{
  margin-right: 1.75rem;
  height: 30px;
  background-color: #b53f51;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  width: 70px;
  cursor: pointer;
}
.main {
  width: 70%;
  margin: auto;
  padding-top: 100px;
  height:auto;
}

.sidebar {
  position: absolute;
  display:flex;
  flex-direction: column;
  opacity: 0;
  top: 0rem;
  right: 0rem;
  width: 0%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
  min-height: 100vh;
  height:auto;
  overflow-x: hidden;
  border-left: .0625rem solid rgba(0, 0, 0, 0.8);
  transition: all 0.1s;
}
.sidebar-show{
  width:50%;
  opacity:1;
}
.sidebar-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-top: 20px;
  padding-bottom:1.25rem ;
  border-bottom: .0625rem solid rgba(0,0,0,0.1);
}
.sidebar-close-btn{
  position:absolute;
  top: 1rem;
  right: 1rem;
  color:white;
  background-color: black;
  padding: 9px 15px;
  border-radius: 40px;
  font-size: 20px;
  cursor: pointer;
}
.grid-container {
  margin:auto;
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 1fr 1fr;
  padding: .625rem;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.0);
}

.grid-item {
  border: rgb(214, 214, 214) 1px solid;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.purchase-name {
  font-size: 24px;
  padding: 0rem;
  color:rgb(0, 0, 0);
  font-weight: 500;
  margin: 0;
}

.purchase-price {
  margin-bottom: .3125rem;
}

.grid-image{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
img {
  max-height: 6.5rem;
  max-width: 6.5rem;
  object-fit: contain;
  padding: 50px;
}

.item-image {
  width: 100%;
  object-fit: cover;
  border:.125rem solid  rgba(0,0,0,0.1);
  padding: .3125rem;
}

.item-remove{
  width:1.5rem;
  height:1.5rem;
  object-fit: cover;
  cursor: pointer;
}

.total{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  margin-right: 1rem;
}

.total-word{
  font-size: 1rem;
  font-weight: 600;
}

.item-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
  border-bottom: .0625rem solid rgba(0,0,0,0.1);
  padding-bottom: .625rem;
  margin-left: 5%;
}

.detail-box{
  display: grid;
  row-gap: 8px;  
}

.price-box{
  display: flex;
  justify-content: space-between; 
}

.item-cart-title{
   font-size: 16px;
   text-transform: uppercase;
   color:rgb(255, 68, 0);
   font-weight: 500;
}
.item-quantity{
  border:.0625rem solid rgba(0,0,0,0.1);
  width: 50px;
  font-size: 16px;
}